body {
	background-color: #FFE6B4;
	font-family: arial,sans-serif;
	font-size: small;
	margin: 0;
}
div {
}
input {
	width: 100px;
}

.generalButton {
	box-shadow: 3px 3px 4px #000000;
	cursor: pointer;
}
.clickableInfo {
	cursor: pointer;
	text-decoration: underline;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.topBar {
	background-color: #000000;
	color: #FFFFFF;
	height: 20px;
	left: 0;
	padding-left: 5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.tbDate {
	float: right;
	height: 100%;
	min-width: 130px;
	right: 0;
	width: 11%;
	text-align: center;
}
.topBar span {
	display: inline-block;
	height: 100%;
	padding-top: 2px;
	vertical-align: middle;
}
.tbData {

}

.container {
	height: 100%;
	margin-top: 20px;
	width: 100%;
}
.main {
	border-radius: 25px;
	float: left;
	height: 100%;
	left: 0;
	margin: 5px 300px 5px 10px;
	max-width: 80%;
	min-width: 400px;
	width: 100%;
	top: 20px;
}
.lateralBar {
	background-color: #000000;
	color: #FFFFFF;
	float: right;
	height: 100%;
	min-height: 100%;
	min-width: 130px;
	padding-left: 5px;
	position: fixed;
	right: 0;
	top: 20px;
	width: 10%;
}
.lateralBar > p {
	cursor: pointer;
}
.standardView {
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.standardView > div {
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000000;
	margin-bottom: 25px;
	min-width: 500px;
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
	height: 100%;
	display: inline-block;
}
.standardView > div > header {
	background-color: #9A7958;
	border-radius: 10px 10px 0 0;
	margin-bottom: 10px;
}
.standardView > div fieldset {
	margin: 5px;
	max-height: 600px;
}
.standardView > div > fieldset > label {
	margin: 10px 0;
}
.lbConfigurationView {
}

.standardView > div > fieldset {
	max-width: 400px;
	float:left;
}

.lbViewActualWorldView > div > fieldset {
	height: auto;
}
.standardView > div > fieldset > div {
	text-align: left;
}

.standardView > div > fieldset > div > ul {
	text-align: left;
	margin-left: -20px;
	margin-top: 0;
	padding-right: 5px;
}
.standardView > div > fieldset > label {
	margin: 10px 0;
}
.ulContainer {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 96%;
}
.activated {
	color: green;
}
@media screen and (min-width:0px) and (max-width:1000px){
	.standardView > div > fieldset > label {
		display:block;
		margin: 10px 0;
	}
	.lateralBar {
		background-color: #000000;
		color: #FFFFFF;
		height: 40px;
		left: 0;
		padding-left: 5px;
		position: fixed;
		top: 20px;
		width: 100%;
		z-index: 10;
		min-height: 20px;
	}
	.lateralBar > p {
		float: left;
		margin-right: 10px;
	}
	.main {
		margin-top: 45px;
	}
	.clickableInfo > input{
		width: 30px;
	}
}