<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/html">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="../includes/seedRandom.js"></script>
	<script src="../genericFunctions.js"></script>
	<script src="../rawData/names.js"></script>
	<script src="../rawData/translations.js"></script>
	<script src="../rawData/engineData.js"></script>
	<script src="../controllers/engine.js"></script>
	<script src="../Models/Citizen.js"></script>
	<script src="../Models/Town.js"></script>
	<script src="../Models/World.js"></script>
	<script src="../main.js"></script>
	<script src="js/testing.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Town Simulator</title>
	<script>
		document.title = "Town Simulator " +  game.version;
	</script>
</head>

<body>
	<div id="topBar" class="topBar">
		<span>World Name: </span><span id="tbWorldName" class="tbData"></span>
		<span>| Towns: </span><span id="tbTowns" class="tbData"></span>
		<span>| Citizens: </span><span id="tbCitizens" class="tbData"></span>
		<span>| Map Size: </span><span id="tbMapSize" class="tbData"></span>
		<span id="tbDate" class="tbDate"></span>
	</div>
	<div id="container" class="container">
		<div id="main" class="main">
			<div id='indexView'>
				<p>Welcome to the testing page .D. Here you will be able to test all the features fo Town Simulator</p>
				<p>Currently only this features are available:</p>
				<ul>
					<li>Create a World (New World)</li>
				</ul>
			</div>
			<div id='lbNewWorldView' class="standardView" style="display:none;">
				<div>
					<header>World Settings</header>
					<fieldset>
						<legend>General</legend>
						<div>
							<label for="newWorldName">World name: </label>
							<input id="newWorldName" type="text" value='test' min ='1' max="15">
						</div>
						<div>
							<label for="newWorldGodName">World God name: </label>
							<input id="newWorldGodName" type="text" value='test' min ='1' max="15">
						</div>
						<div>
							<label for="newWorldCreationTime">World creation time in days (0 to 10000): </label>
							<input id="newWorldCreationTime" type="number" value="0" max="10000">
						</div>
						</fieldset>
					<fieldset>
						<legend>Map</legend>
						<div>
							<label for="newWorldMapX">Map size X (1 to 1000): </label>
							<input id="newWorldMapX" type="number" value="65" min="1" max="1000">
						</div>
						<div>
							<label for="newWorldMapY">Map size Y (1 to 1000): </label>
							<input id="newWorldMapY" type="number" value="50" min="1" max="1000">
						</div>
					</fieldset>
				</div>
				<div>
					<header>Town Settings</header>
					<fieldset>
						<legend>General</legend>
						<div>
							<label for="newWorldMinimumTowns">Minimum amount of towns (1 to 1000): </label>
							<input id="newWorldMinimumTowns" type="number" value="3" min="1" max="1000">
						</div>
						<div>
							<label for="newWorldMaximumTowns">Maximum amount of towns (1 to 1000): </label>
							<input id="newWorldMaximumTowns" type="number" value="7" min="2" max="1000">
						</div>
					</fieldset>
				</div>
				<div>
					<header>Citizens Settings</header>
					<fieldset>
						<legend>General</legend>
						<div>
							<label for="newWorldMinimumCitizens">Minimum amount of citizens (1 to 10000): </label>
							<input id="newWorldMinimumCitizens" type="number" value="10" min="1" max="10000">
						</div>
						<div>
							<label for="newWorldMaximumCitizens">Maximum amount of citizens (1 to 10000): </label>
							<input id="newWorldMaximumCitizens" type="number" value="50" min="1" max="10000">
						</div>
						<div>
							<label for="newWorldCitizensToTowns">Percentage of citizens in towns (0 - 100): </label>
							<input id="newWorldCitizensToTowns" type="range" value="50" min="0" max="100">
						</div>
					</fieldset>
				</div>
				<div>
					<header>Create World</header>
					<input type="button" id="newWorldSubmit" value="Create World" class="generalButton">
				</div>
			</div>

			<div id='lbViewActualWorldView' class="standardView" style="display:none;">
				<div>
					<header>World</header>
					<fieldset>
						<legend>General</legend>
						<div>
							<label for="swName">Name: </label>
							<span id="swName"></span>
						</div>
						<div>
							<label for="swActualDate">Actual Date: </label>
							<span id="swActualDate"></span>
						</div>
						<div>
							<label for="swGodName">God name: </label>
							<span id="swGodName"></span>
						</div>
						<div>
							<label for="swMapSize">Map size: </label>
							<span id="swMapSize"></span>
						</div>
						<div>
							<label for="swNumberOfTowns">nº of towns: </label>
							<span id="swNumberOfTowns" >	</span>
						</div>
						<div>
							<label for="swMostPopulatedTown">Most populated town: </label>
							<span id="swMostPopulatedTown" class="toTown">	</span>
						</div>
						<div>
							<label for="swLessPopulatedTown">Less populated town: </label>
							<span id="swLessPopulatedTown" class="toTown" >	</span>
						</div>
					</fieldset>

					<fieldset id="swListOfTowns" class="toTownList">
						<legend>List of Towns</legend>
						<div class="ulContainer">
							<ul>
								<li id="swTown-0">
									<span>Hoijof Golpeo</span>
								</li>
							</ul>
						</div>
					</fieldset>

					<fieldset>
						<legend>Citizens information</legend>
						<div>
							<label for="swNumberOfCitizens">nº of citizens: </label>
							<span id="swNumberOfCitizens" >	</span>
						</div>
						<div>
							<label for="swNumberCitizensWithTown">nº of citizens in towns: </label>
							<span id="swNumberCitizensWithTown" >	</span>
						</div>
						<div>
							<label for="swNumberCitizensWithoutTown">nº of citizens homeless: </label>
							<span id="swNumberCitizensWithoutTown" >	</span>
						</div>
					</fieldset>
					<fieldset id="swListOfCitizensWithTown" class="toCitizenList">
						<legend>List of Citizens with town</legend>
						<div class="ulContainer">
							<ul>
								<li id="swCitizen-0">
									<span>Hoijof Golpeo</span>
								</li>
							</ul>
						</div>
					</fieldset>
					<fieldset id="swListOfCitizensWithoutTown" class="toCitizenList">
						<legend>List of Citizens without town</legend>
						<div class="ulContainer">
							<ul>
								<li id="swCitizen-1">
									<span>Hoijof Golpeo</span>
								</li>
							</ul>
						</div>
					</fieldset>
				</div>
			</div>

			<div id='lbConfigurationView' class="standardView" style="display:none;">
				lbConfigurationView
			</div>

			<div id='showCitizenView' class="standardView" style="display:none;">
				<div>
					<header>Citizen (01)</header>
					<div>
						<span id="scPrevious" class="clickableInfo"><b><<</b> Previous</span>
						<span id="scNext" class="clickableInfo">Next <b>>></b></span>
					</div>
					<fieldset>
						<legend>General</legend>
						<div>
							<label for="scName">Name: </label>
							<span id="scName"></span>
						</div>
						<div>
							<label for="scSurname">Surname: </label>
							<span id="scSurname"></span>
						</div>
						<div>
							<label for="scSex">Sex: </label>
							<span id="scSex"></span>
						</div>
						<div>
							<label for="scBornPlace">Born Place: </label>
							<span id="scBornPlace"></span>
						</div>
						<div>
							<label for="scBirthday">Birthday: </label>
							<span id="scBirthday"></span>
						</div>
						<div>
							<label for="scAge">Age: </label>
							<span id="scAge"></span>
						</div>

					</fieldset>

					<fieldset>
						<legend>Others</legend>
						<div>
							<label for="scNickname">Nickname: </label>
							<span id="scNickname" >	</span>
						</div>
						<div>
							<label for="scProfession">Profession Level: </label>
							<span id="scProfessionLevel" ></span>
						</div>
						<div>
							<label for="scProfessionLevel">Profession: </label>
							<span id="scProfession" ></span>
						</div>
						<div>
							<label for="scTown">Town: </label>
							<span id="scTown" class="toTown"></span>
						</div>
					</fieldset>

					<fieldset>
						<legend>Stats</legend>
						<div>
							<span id="scStats" ></span>
						</div>
					</fieldset>

					<fieldset>
						<legend>Skills</legend>
						<div>
							<span id="scSkills" ></span>
						</div>
					</fieldset>
				</div>
			</div>

			<div id='showTownView' class="standardView" style="display:none;">
				<div>
					<header>Town (00)</header>
					<div>
						<span id="stPrevious" class="clickableInfo"><b><<</b> Previous</span>
						<span id="stNext" class="clickableInfo">Next <b>>></b></span>
					</div>
					<fieldset>
						<legend>General</legend>
						<div>
							<label for="stName">Name: </label>
							<span id="stName"></span>
						</div>
						<div>
							<label for="stCreationDate">Creation Date: </label>
							<span id="stCreationDate"></span>
						</div>
						<div>
							<label for="stCoordinates">Coordinates: </label>
							<span id="stCoordinates"></span>
						</div>
						<div>
							<label for="stSize">Size: </label>
							<span id="stSize"></span>
						</div>
					</fieldset>

					<fieldset>
						<legend>Citizens information</legend>
						<div>
							<label for="stNumberOfCitizens">nº of Citizens: </label>
							<span id="stNumberOfCitizens" >	</span>
						</div>
						<div>
							<label for="stMajor">Major: </label>
							<span id="stMajor" class="toCitizen"></span>
						</div>
					</fieldset>

					<fieldset id="stListOfCitizens" class="toCitizenList">
						<legend>List of Citizens</legend>
						<div class="ulContainer">
							<ul>
								<li id="stCitizen-0">
									<span>Hoijof Golpeo</span>
								</li>
							</ul>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div id="lateralBar" class="lateralBar">
			<p id='lbNewWorld'>New World</p>
			<p id='lbViewActualWorld'>View World</p>
			<p id='lbConfiguration'>Configuration</p>
			<p id='showCitizen'>Show citizen</p>
			<p id='showTown'>Show town</p>
			<div id='nextDay' class="clickableInfo">Next Day<input type="text" value="1000"></div>
		</div>
	</div>

</body>

</html>